In [19]:
### import library

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

In [21]:
### read dataset

In [22]:
data = pd.read_csv('heart.csv')

In [23]:
data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [24]:
data.shape

(303, 14)

In [25]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [26]:
y = data['target']
X = data[['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']]

In [27]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [28]:
x_1 = sm.add_constant(X_train)
reg_log = sm.Logit(y_train, x_1)
results_log = reg_log.fit()
results_log.summary()

Optimization terminated successfully.
         Current function value: 0.360485
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  212
Model:                          Logit   Df Residuals:                      198
Method:                           MLE   Df Model:                           13
Date:                Wed, 20 Mar 2019   Pseudo R-squ.:                  0.4751
Time:                        11:08:16   Log-Likelihood:                -76.423
converged:                       True   LL-Null:                       -145.59
                                        LLR p-value:                 4.554e-23
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.8631      3.022      1.940      0.052      -0.060      11.786
age           -0.0229      0.027     -0.846      0.398      -0.076       0.030
sex           -1.7053      0.538     -3.169      0.002      -2.760      -0.651
cp             0.8956      0.218      4.114      0.000       0.469       1.322
trestbps      -0.0200      0.012     -1.624      0.104      -0.044       0.004
chol          -0.0051      0.005     -0.988      0.323      -0.015       0.005
fbs            0.6807      0.621      1.096      0.273      -0.537       1.898
restecg        0.4200      0.403      1.041      0.298      -0.371       1.211
thalach        0.0128      0.012      1.048      0.294      -0.011       0.037
exang         -1.0014      0.487     -2.058      0.040      -1.955      -0.048
oldpeak       -0.5195      0.264     -1.965      0.049      -1.038      -0.001
slope          0.6438      0.473      1.361      0.174      -0.283       1.571
ca            -0.7302      0.220     -3.318      0.001      -1.162      -0.299
thal          -0.8671      0.346     -2.505      0.012      -1.545      -0.189
==============================================================================
"""

In [32]:
x_2 = X_train.drop(['age','trestbps','chol','fbs','restecg','thalach','slope'], axis=1)

x_2 = sm.add_constant(x_2)
reg_log2 = sm.Logit(y_train, x_2)
result_log2 = reg_log2.fit()
result_log2.summary()

Optimization terminated successfully.
         Current function value: 0.392774
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                  212
Model:                          Logit   Df Residuals:                      205
Method:                           MLE   Df Model:                            6
Date:                Wed, 20 Mar 2019   Pseudo R-squ.:                  0.4280
Time:                        11:13:22   Log-Likelihood:                -83.268
converged:                       True   LL-Null:                       -145.59
                                        LLR p-value:                 1.729e-24
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          3.8420      0.838      4.586      0.000       2.200       5.484
sex           -1.1230      0.456     -2.460      0.014      -2.018      -0.228
cp             0.9491      0.205      4.621      0.000       0.547       1.352
exang         -1.1267      0.438     -2.575      0.010      -1.984      -0.269
oldpeak       -0.8272      0.206     -4.022      0.000      -1.230      -0.424
ca            -0.6925      0.196     -3.538      0.000      -1.076      -0.309
thal          -0.9126      0.321     -2.843      0.004      -1.542      -0.283
==============================================================================
"""

In [33]:
result_log2.pred_table()

array([[ 72.,  22.],
       [ 13., 105.]])

In [ ]:
### accuracy

In [34]:
cm_df = pd.DataFrame(result_log2.pred_table())
cm_df.columns = ['Predicted 0', 'Predicted 1']
cm_df = cm_df.rename(index={0:'Actual 0', 1:'Actual 1'})
cm_df

          Predicted 0  Predicted 1
Actual 0         72.0         22.0
Actual 1         13.0        105.0

In [35]:
### accuracy train

In [36]:
cm = np.array(cm_df)
accuracy_train = (cm[0,0] + cm[1,1]) / cm.sum()
accuracy_train

0.8349056603773585